@model MvcLearn.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Registration</legend>

    <div class="display-label">RegName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegName)
    </div>

    <div class="display-label">RegDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegDate)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">IsApproved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsApproved)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RegID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
