<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lesson.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <a href="#" class="brand">MVC Lesson 2</a>
                <ul id="menu" class="nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hello", "Hello", "Home")</li>
                    <li>@Html.ActionLink("Hello2", "Hello2", "Home")</li>
                    <li>@Html.ActionLink("Registration", "Index", "Registration")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                <ul class="nav pull-right">
                    <li>@Html.Partial("_LogOnPartial")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>