@model MvcLearn.Models.Registration
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Registration</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<form class="form-horizontal" method="post">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.RegID)
    <div class="control-group">
        <label class="control-label" for="RegName">Registration Name</label>
        <div class="controls">
            @Html.EditorFor(model => model.RegName)
            @Html.ValidationMessageFor(model => model.RegName)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="RegDate">Registration RegDate</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.RegDate, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.RegDate)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="Address">Address</label>
        <div class="controls">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="Status">Status</label>
        <div class="controls">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="Status">IsApproved</label>
        <div class="controls">
            @Html.EditorFor(model => model.IsApproved)
            @Html.ValidationMessageFor(model => model.IsApproved)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <input type="submit" value="Save" class="btn" />
            |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

</form>
