@model IEnumerable<MvcLearn.Models.Registration>

@{
    ViewBag.Title = "Registration";
}

<h2>Registration List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            RegName
        </th>
        <th>
            RegDate
        </th>
        <th>
            Address
        </th>
        <th>
            Status
        </th>
        <th>
            IsApproved
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApproved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegID })
        </td>
    </tr>
}

</table>
